/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*CSS RESET ABOVE, STYLING BEGINS BELOW*/

/*Header And Nav Buttons*/
* {
  box-sizing:border-box;
  font-family: 'Staatliches', cursive;

}

body{
   display:flex;
   font-size:67.5%;
   flex-flow:row wrap;
   background-color:#FAF0E6;
   font-family: 'Staatliches', cursive;
}

@media (max-width:500px) { 
  body {
  flex-flow: column wrap;
  align-items:center;
  }
  .navBar buttons {
  flex-flow: column wrap;
  align-items:center;
  align-content:center;

  }
}
 
header{
  display:flex;
  width:100%;
  flex-direction:column;
  flex-wrap:wrap;
  align-items: flex-start;
 
}

.head{
  display:flex;
  width:100%;
  flex-direction:column;
  flex-wrap:wrap;
  align-items: flex-start;
  
}
@keyframes header {
  0%   {font-size: 5rem; left:0px; top:0px;  max-width: 100%;}
  50%  {font-size: 7rem; left:200px; top:200px;  max-width: 100%;}
  100% {font-size: 5rem; left:0px; top:0px;  max-width: 100%;}
 
}

h1{
  display:flex;
  width:100%;
  flex-flow: column wrap;
  align-content:center;
  font-size:5rem;
  margin-top:8rem;
  animation-name: header;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

h4{
  display:flex;
  width:100%;
  flex-flow: column wrap;
  align-content:center;
  font-size:2rem;
  text-align:center;
  margin-top:5rem;
  margin-bottom:3.5rem;
}

.navBar{
  display:flex;
  justify-content: space-between;
  width:100%;
  justify-content: center;
  align-items: center;
}

.hParagraph{
  display:flex;
  width:100%;
  flex-flow: column wrap;
  align-content:center;
  font-size:3.2rem;
  margin-bottom:3.5rem;
}

.paragraph{
  display:flex;
  width:100%;
  align-content:center;
  justify-content:center;
  text-align:center;
  font-size:3rem;
  margin-bottom:3rem;
}

header p{
  justify-content: center;
  align-content:center;
}

/*BIG IMAGE*/

#bossImg{
 display:flex;
 max-width:100%;

 border:60px#BDB76B solid;
}

#bossImg img{
  width:100%;
}

/*MINI IMAGE SECTION WITH PARAGRAPH*/
.miniSection {
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  flex-wrap:wrap;
  margin-top:3%;
}

#miniP{
  flex-wrap:wrap;
  width:20%;
  flex-direction: row;
  padding:4% 3% 1% 2%;
  text-align:center;

}

#mini{
  display:flex; 
  width:80%;
  justify-content: space-around;
  max-height:100%;
  
}

#mini img{
  width:20%;
  justify-content: space-evenly;
  border:10px #BDB76B solid;
  margin:0% 2% 0% 0%;
  
}

.body{
  display:flex;
  width:100%;
  flex-direction:column;
  flex-wrap:wrap;
  align-items: flex-start;
}

/*BUTTON STYLING HEADER*/

.bStyle{
  border-radius:10px;
  font-size:3rem; 
  background-color:#191970;
  justify-content: space-between;
  margin:8rem 4rem;
  color:#BDB76B;
  animation-name: buttons; 
  animation-duration: 20s;
  animation-iteration-count: infinite;
  max-width: 100%;
}

.bStyle:hover{
  border-radius:20px;
  font-size:5rem; 
  background-color:#696969;
  color:#8B0000;
  max-width: 100%;
}

/*BUTTON STYLING FOOTER*/

footer{
  display:flex;
  width:100%;
  flex-direction:column;
  flex-wrap:wrap;
  align-items: flex-start;
  background-color:#BDB76B;
}

.body footer .bStyle{
  display:flex;
  border-radius:5px;
  font-size:.6rem; 
  justify-content: center;
  align-items: flex-end;
  color:#BDB76B;
  max-width: 100%;
}

.body footer .bStyle:hover{
  border-radius:5px;
  font-size:3rem; 
  justify-content: space-evenly;
  align-items: flex-end;
  max-width: 100%;
}



/******BEGINNING OF MOBILE STYLING 800PX******/



@media (max-width:800px){

  header{
    text-align:center;
  }
  
  .head{
    width:100%;
  }

  @keyframes header {
    0%   {font-size: 3rem; left:0px; top:0px;  max-width: 100%;}
    50%  {font-size: 5rem; left:200px; top:200px;  max-width: 100%;}
    100% {font-size: 3rem; left:0px; top:0px;  max-width: 100%;}
   
  }
  
  h1{
    width:100%;
    font-size:3rem;
    margin-top:6rem;
  }
  
  h4{
    font-size:1.3rem;
    margin-top:3rem;
    margin-bottom:2.5rem;
  }
  
  .navBar{
    justify-content: space-evenly;
  }
  
  .hParagraph{
    width:100%;
    align-content:center;
    font-size:2.3rem;
    justify-content:center;

  }
  
  .paragraph{
    width:100%;
    font-size:1.8rem;;
    margin-bottom:3%;
  }
  
  /*BIG IMAGE*/
  
  #bossImg{
   border:35px#BDB76B solid;
  }
  
  /*MINI IMAGE SECTION WITH PARAGRAPH*/
  .miniSection {
    display:flex;
    width:100%;
    flex-wrap:wrap;
    flex-direction: row;
    flex-wrap:wrap;
    margin-top:3%;
  }
  
  #miniP{
    flex-wrap:wrap;
    width:100%;
    flex-direction: row;
    padding:2% 1.5% .5% 1%;
    text-align:center;
    font-size: 1.3rem;
  
  }
  
  #mini{
    display:flex; 
    width:100%;
    flex-direction:row;
    align-items: space-evenly;
    justify-content:center;
    margin-bottom:10%;
    flex-wrap: wrap;
  }
  
  #mini img{
    display:flex;
    width:40%;
    margin:5% 5%;
  }
  
  /*BUTTON STYLING HEADER*/
  
  .bStyle{
    display:flex;
    font-size:1.5rem; 
    background-color:#191970;
    justify-content: space-evenly;
    margin:4rem 2rem;
  }
  
  .bStyle:hover{
    font-size:2.5rem; 
  }
  
  .body .navBar .bStyle{
    font-size:rem;
    width:80%;
    justify-content: space-evenly;
    align-items: center;
  }

  /*BUTTON STYLING FOOTER*/
  
  footer{
    display:flex;
    max-width:100%;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: flex-start;
    background-color:#BDB76B;
  }
  
  .body footer .bStyle{
    font-size:.6rem; 
  }
}



/******BEGINNING OF MOBILE STYLING 500PX******/


@media (max-width:500px){

  header{
    text-align:center;
  }
  
  .head{
    width:100%;
  }

  @keyframes header {
    0%   {font-size: 2rem; left:0px; top:0px;  max-width: 100%;}
    50%  {font-size: 3rem; left:200px; top:200px;  max-width: 100%;}
    100% {font-size: 2rem; left:0px; top:0px;  max-width: 100%;}
   
  }
  
  h1{
    width:100%;
    font-size:3rem;
    margin-top:6rem;
  }
  
  h4{
    font-size:1rem;
    margin-top:2rem;
    margin-bottom:2rem;
  }
  
  .hParagraph{
    width:100%;
    align-content:center;
    font-size:1rem;
    justify-content:center;
    margin-bottom:7%;
  }
  
  .paragraph{
    font-size:1rem;;
    margin-bottom:10%;
  }
  
  /*BIG IMAGE*/
  
  #bossImg{
   border:15px#BDB76B solid;

  }
  
  /*MINI IMAGE SECTION WITH PARAGRAPH*/
  .miniSection {
    margin-top:5%;
  }
  
  #miniP{
    font-size: 1rem;
  }
  
  
  #mini img{
    display:flex;
    width:40%;
    margin:5% 5%;
    border:8px solid #BDB76B;
  }
  
  /*BUTTON STYLING HEADER*/
  
  .bStyle{
    display:flex;
    font-size:1rem; 
    background-color:#191970;
    justify-content: space-evenly;
    margin:2rem 1rem;
  }
  
  .bStyle:hover{
    font-size:2.5rem; 
  }

  .body .navBar .bStyle{
    font-size:.5rem;
    width:60%;
  }

  .body .navBar .bStyle:hover{
    font-size:1rem;
    width:80%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
  }

  /*BUTTON STYLING FOOTER*/
  
  footer{
    display:flex;
    max-width:100%;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: flex-start;
    background-color:#BDB76B;
  }
  
}




@media (max-width:360px){

  
  @keyframes header {
    0%   {font-size: .8rem; left:0px; top:0px;  max-width: 100%;}
    50%  {font-size: 1.2rem; left:200px; top:200px;  max-width: 100%;}
    100% {font-size: .8rem; left:0px; top:0px;  max-width: 100%;}
  }
  body{
    display:flex;
    align-items:center;
    justify-content: center;
  }
  h4{
    font-size:.5rem;
    max-width: 100%;
  }
  
  .body h4{
    display:flex;
    width:100%;
    padding:0rem .5rem;
  }
  
  .hParagraph{
    width:100%;
    align-content:center;
    font-size:1rem;
    justify-content:center;
    margin-bottom:15%;
  }
  
  .paragraph{
    font-size:.5rem;;
    margin-bottom:10%;
  }
  
  /*BIG IMAGE*/
  
  #bossImg{
   border:5px#BDB76B solid;
  }
  
  /*MINI IMAGE SECTION WITH PARAGRAPH*/
  .miniSection {
    margin-top:5%;
  }
  
  #miniP{
    font-size: .5rem;
    margin:0rem .5rem;
  }
  
  
  #mini img{
    display:flex;
    width:40%;
    margin:5% 5%;
    border:3px solid #BDB76B;
  }
  
  
  .navBar{
    display:flex;
    flex-direction:column;
    max-width:100%;
    justify-content: center;
    margin-left:  0.5rem;
    margin-bottom:1rem;
    margin-top:1rem;
    
  }


  /*BUTTON STYLING HEADER*/
  
  .navBar a{
    display:flex;
    justify-content:center;
    align-items: center;
    margin:0rem 3rem;
    width:100%;
  }

  .navBar .bStyle{
    font-size:.5rem;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    text-decoration:none;
    border-radius:4px;
    margin:.2rem 0%;
    
}
  .navBar .bStyle:hover{
    color:#BDB76B;
    
}

  .bStyle{
    display:flex;
    font-size:.3rem; 
    background-color:#191970;
    justify-content: space-evenly;
    margin:.3rem;
    width:100%;
    
  }
  
  .bStyle:hover{
    font-size:.6rem; 
  }

  .body .navBar .bStyle{
    font-size:.5rem;
    width:80%;
    justify-content: space-evenly;
    align-items: center;
    margin:.2rem auto;
  }
.body .navBar a{
  margin-right:4rem;
}
  .body .navBar .bStyle:hover{
    font-size:.9rem;
  
  }

  /*BUTTON STYLING FOOTER*/
  
  footer{
    display:flex;
    max-width:100%;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: flex-start;
    background-color:#BDB76B;
    justify-content: center;
  }
  
}